.header {
    background-color: var(--color-highlight);
    padding: 1em;
}

.header__title {
    margin: 0;

    @include type-display();
}

.header__subtitle {
    font-size: 1em;
    margin: 0;

    @include type-dek();
}
