.search__label {
    font-size: 0.8em;

    @include type-display();
}

.search__input {
    background-color: var(--color-highlight);
    border: none;
    border-radius: var(--border-radius-default);
    color: var(--color-text);
    font-family: input-mono-narrow, monospace;
    font-size: inherit;
    font-style: normal;
    font-weight: 200;
    padding: 0.5em;
    width: 100%;
}
