.settings {
    background-color: var(--color-highlight);
    padding: 0 1em 1em;
}

.settings__title {
    border-top: 1px solid var(--color-lowlight);
    font-size: 1em;
    margin: 0;
    padding: 1em 0;

    @include type-display();
}
