html {
    // colors
    --color-background: hsl(0, 0%, 95%);
    --color-text: hsl(0, 59%, 5%);
    --color-highlight: hsl(0, 0%, 100%);
    --color-lowlight: hsl(0, 0%, 50%);
    --color-primary: hsl(0, 59%, 51%);
    --color-match: hsl(60, 79%, 71%);

    // theme
    --border-radius-default: 0.3em;

    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html[data-theme='dark'] {
    --color-background: hsl(0, 0%, 0%);
    --color-text: hsl(0, 0%, 100%);
    --color-highlight: hsl(0, 10%, 10%);
    --color-match: hsl(60, 79%, 29%);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: input-sans-narrow, sans-serif;
    font-size: 120%;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

button {
    font-family: inherit;
    font-size: inherit;
}
