html {
    --color-background: #fff;
    --color-text: hsla(220, 75%, 10%, 0.9);
    --color-primary: hsl(220, 75%, 90%);
    --color-secondary: hsla(160, 80%, 60%, 0.9);
}

html[data-theme='dark'] {
    --color-background: hsl(10, 75%, 5%);
    --color-text: hsla(0, 0%, 100%, 0.9);
    --color-primary: hsl(10, 70%, 15%);
    --color-secondary: hsla(35, 70%, 40%, 0.9);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: input-mono-narrow, monospace;
    font-size: 120%;
    font-style: normal;
    font-weight: 400;
}
