$mq-md: "screen and (min-width: 60em) and (min-height: 20em)";

$padding-input-default: 0.5em;

// ==========
// layout app
// ==========

.layout-app {
    @media #{$mq-md} {
        display: grid;
        grid-template-areas:
            "header main"
            "aside main";
        grid-template-columns: minmax(min-content, 15em) auto;
        grid-template-rows: auto 1fr;
        min-height: 100vh;
    }
}

.layout-app__header {
    @media #{$mq-md} {
        grid-area: header;
    }
}

.layout-app__aside {
    @media #{$mq-md} {
        grid-area: aside;
    }
}

.layout-app__main {
    display: grid;
    grid-template-columns: minmax(auto, 50em);
    justify-content: center;
    padding: 1em;

    @media #{$mq-md} {
        grid-area: main;
    }
}
