@mixin type-display() {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-weight: 200;
    text-transform: uppercase;
}

.type-display {
    @include type-display();
}

@mixin type-dek() {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: lowercase;
}

.type-dek {
    @include type-dek();
}

@mixin type-emphasis() {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-weight: 300;
}

.type-emphasis {
    @include type-emphasis();
}

@mixin type-mono() {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
}

.type-mono {
    @include type-mono();
}
